//	COLORS
//-------------------------------------------------------------------------------------------------------------|

$L55_Base: rgb(33, 39, 55);
$L55_Highlight: rgb(40, 140, 251);
$L55_Green: rgb(53, 251, 25);
$L55_Red: rgb(225, 34, 25);
$L55_Yellow: rgb(255, 230, 28);

$BLACK:		rgb(0, 0, 0);
$WHITE:		rgb(255, 255, 255);
$GREY:		rgb(128, 128, 128);
$RED:		rgb(128, 0, 0);
$ORANGE:	rgb(200, 64, 0);
$YELLOW:	rgb(200, 200, 0);
$GREEN:		rgb(0, 128, 0);
$BLUE:		rgb(0, 0, 128);
$PURPLE:	rgb(128, 0, 128);
$BROWN:		rgb(83, 39, 2);